body {
    background-color: rgb(3, 35, 11);
}

header {
    margin-top: 0;
    padding-top: 120px;
    min-height: 400px;
    width: 100%;
    background-color: rgb(14, 82, 32);
}

h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0px;
    display: block;
}

h2 {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 10%;
    display: block;
}

.new-box {
    margin-left: 10%;
    max-width: 550px;
    height: 200px;
    background-color: #d2a40b;
    margin-top: 90px;
    display:-webkit-box;
    min-width: 500px;
    border-radius: 15px;
}

.img {
    height: 100%;
    width: 20%;
    background: #3b750f;
    border-radius: 15px 0px 0px 15px;
    display: flex;
}

.new-box p {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(14, 82, 32);
    display: inline-block;
}