body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

.container {
  width: 510px;
  margin: 0 auto;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 50px;
  padding-top: 30px;
  background: #847462 no-repeat center url("../img/cooking.png");
  background-size: cover;
  color: #ffffff;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.site-footer {
  min-width: 550px;
  min-height: 100px;
  background-color: #847462;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
