body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #444444;
  background-color: #103011;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  margin-top: 30px;
  text-align: center;
}

.site-header {
  min-width: 550px;
  height: 186px;
  padding-top: 30px;
  background-size: cover;
  color: #ffffff;
}

.site-footer {
  min-height: 70px;
  background-color: #374c45;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}

.site-footer p {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.primary-container {
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 70%;
  margin: auto;
}

.navbar {
    min-height: 60px;
    border-radius: 5px 5px 0px 0;
}
