body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 48px;
}

.site-header {
  min-width: 550px;
  height: 186px;
  padding-top: 30px;
  background: #847462 no-repeat center url("../img/cooking.png");
  background-size: cover;
  color: #ffffff;
}

.site-footer {
  min-width: 550px;
  min-height: 100px;
  background-color: #000030;
  color: #ffffff;
}

.site-footer {
  margin-top: 30px;
  text-align: center;
}

.site-footer p {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}