{% extends "base.html" %}

{% block content %}
<h2>Записи в блоге</h2>
{% if current_user.is_authenticated %}
<a href="/add_recipes" class="btn btn-secondary">Добавить рецепт</a>
{% endif %}
<div class="row">
    {% for item in news%}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{item.title}}</h3>
                <div class="mb-1 text-muted">{{item.created_date}}</div>
                <div class="mb-1 text-muted">Автор: {{item.user.name}}</div>
                <a href="/recipes/{{ item.id }}" class="stretched-link">Читать</a>
            </div>
                <img src="static/img/for_recipes.png" width="200" height="250">
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}